.add-list_button {
  height: 25px;
}

.add-list {
  padding-top: 20px;
}

.add-list-card {
  position: relative;
  padding: 20px;
  width: 300px;
  border: 1px solid black;
  border-radius: 7px;
}

.icon-button {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -15px;
  right: -290px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
}