.add-list_button {
  height: 25px;
}

.add-list {
  margin-top: 20px;
}

.list-form {
  width: 200px;
  height: 100px;
  border: 1px solid black;

}

.add-list-card {
  position: relative;
  padding: 20px;
  width: 300px;
  border: 1px solid black;
  border-radius: 7px;
}

.icon-button {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -15px;
  right: -290px;
}