.todo-card-container {
  padding: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: green;
  color: white;
  font-size: 100%;
  border-radius: 7px;
}

